<div id="conetnt">
    <!--
        <h1> תפוסה:
        <div style="margin: auto;width: 180px; height:50px; background-color: darkred ; border:solid 1px darkred;">
            <div style="text-align: center;height: 48px;background-color: forestgreen  ; width:<%-per%>%"><%-parking%>/<%-spots%></div>
        </div>
    </h1>
-->
   <h1>1-</h1>
   <div class="cards">
        <%
        
       var currentRow  = '1'
        for(item in data){
            let spot = data[item].spot+"";
             tmpRow = spot.charAt(0)
             if(tmpRow != currentRow){
                 %></div><h1><%-tmpRow%>-</h1><%
                    currentRow = tmpRow   
                    %><div class="cards"><%
             }
             let className = 'red'
             if(!data[item].name) {
                 className = 'green'
             }
             %>
            
                    <div class="cell <%-className%> omri" id="id_<%-spot%>">
                        <span><%-spot%></span><br/>
                <%-data[item].name-%>
                <br/><br>
                <a href="tel:<%-data[item].phone-%>"><%-data[item].phone-%></a><br/>
<br/>
                <%if(data[item].name){%>
                    <button onclick="setSpot('<%-data[item].spot%>','','')">שחררתי</button>
                <%
                } else {
                %>    
                <button onclick="setSpot('<%-data[item].spot%>',$('#myname').val(), $('#myphone').val())">חסמתי!</button>
                <%}%>
                </div>
                    
                
                
           
            <%}%>
            </div>
            <hr/>
            <div class="white" id="nameform">
                <form>
                    <table>
                        <tr>
                            <td>שם:  </td>
                            <td><input type="text" id="myname" value=""></td>
                            <td rowspan="2">
                                <button  id="setBtn" onclick="setName($('#myname').val(), $('#myphone').val())">Set</button>
      </td>
                        </tr>
                        <tr>
                            <td>טלפון:  </td>
                            <td><input type="text" id="myphone" value=""></td>
                        </tr>
                       
                    </table>
     
       </form>
    </div> 
</div>
<script>readName()</script>